@media (max-width: 1139px){
    main.homepage {
        background: url("../images/old-g906797482_1280-sm.jpg");
        background-position: right;
        background-size: cover;
    }
   
  
   
}
@media (max-width:900px) { 
    .logo{
        height:70px !important ;
       
    }
    header picture {
        display: flex;
        justify-content: center;
    }
    
 }
 .logo{
    height: 120px;
 }
aside.homepage{
    width: 607px !important;
    background: url("../images/old-g906797482_1280.jpg");
    background-position: right;
    background-size: cover;
}

@media (min-width: 1140px) {
    .first-step{
        background: url("../images/bg-first-step.png");
        background-position: top right;
        background-size: 35%;
        background-repeat: no-repeat;
       
    }   
    .result{
        background: url("../images/bg-result.png");
        background-position: top right;
        background-size: 45%;
        background-repeat: no-repeat;
    }
}
body{
    background: linear-gradient(180deg, #004351 51.04%, #1D1C3A 100%);
}


.hover:hover{
    background-color: #51BCC5;
    color: #F5F5F5;
}
a{
    text-decoration: none;
    color: #F5F5F5;
    cursor: pointer;
}
a:hover:not(.restart), a:focus:not(.restart){
    color: #51BCC5;
}
a.restart:hover, a.restart:focus{
    color: #dfdfdf;
}
button{
    border: none;
    background-color: #004351;
    color: #dfdfdf;
}
div.buttons{
    border: none;
    text-align: center;
    background-color: #51BCC5;
}
.input-group-idade input{
    max-width: 150px;
}
.form-check-input:checked{
    background-color: #51BCC5;
}
